<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a routerLink="/">
                <img src="assets\images.png" alt="logo" />
            </a>
        </div>
        
        <div class="main-menu">
            <ul>
                <li>
                    <a routerLink="/FaceSnaps" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                </li>
                <li>
                    <a routerLink="/FaceSnaps" routerLinkActive="active">About Us</a>
                </li>
                <li>
                    <a routerLink="/blog" routerLinkActive="active">Blog</a>
                </li>
                <li>
                    <a class="btn" routerLink="/login" routerLinkActive="active"><i class="fas fa-user"></i> Log In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="landing-block">
    <img src="assets\dortmund-germany-22-june-2024-600nw-2479906017 (1).webp" alt="Snapface logo">
    <div class="landing-links">
      <a routerLink="facesnaps">Continuer vers Snapface</a>
    </div>
  </div>
  